.year {
    font-size: 0.9rem;
    color: #a8a9ad;
    font-weight: bold;
}

.header {
    font-size: 0.9rem;
    margin: 10px 0 20px 0;
}

.after {
    font-size: 0.9rem;
    margin: 20px 0 20px 0;
}
