.container {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo_nav_container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.logo {
    width: 200px;
    height: 100%;

    &__img {
        height: 100%;
        width: 100%;
    }
}

.text {
    color: #a8a9ad;
    font-size: 0.9rem;
}

.link {
    font-weight: 500;
}

.country {
    font-weight: bold;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
